.cont-progress {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}

.selector {
    align-self: center;
}
.cont-users-actives select{
    margin-top: 10px;
}
.cont-users-register select{
    margin-top: 10px;
}
.selectorE {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}

.selectorE input {
    font-size: 19px;
}

.selectorE select {
    width: 30%;
    font-size: 18px;
}

.lbl-select {
    font-size: 20px;
    font-weight: 600;
}

#category-select {
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.chart, .table {
    width: 48%;
}

.table {
    overflow-x: auto;
}

.table table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.table th {
    background-color: #dbfad4;
}

.table td {
    background-color: #f7fff4;
}

.containerEs {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cont-selected-point {
    display: flex;
    width: 100%;
    justify-content: center;
}

.selected-point {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
    width: 50%;
}

select {
    margin-left: 10px;
    padding: 5px;
}

.empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}
.table select{
    margin-bottom: 15px;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .chart, .table {
        width: 100%;
    }

    .chart {
        margin-bottom: 20px;
    }
}

@media (max-width: 450px) {
    .lbl-select {
        font-size: 18px;
        font-weight: 600;
    }

    #category-select {
        font-size: 16px;
    }

    .table th, .table td {
        padding: 4px;
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .lbl-select {
        font-size: 14px;
        font-weight: 600;
    }

    .table select{
        font-size: 12px;
    }

    #category-select {
        font-size: 13px;
    }

    .selected-point {
        width: 100%;
    }

    .table th, .table td {
        padding: 2px;
        font-size: 12px;
    }
}